body {
    background-color: #848FA5;
}

#controls {
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graphic {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

.svg-white-keys * {
    fill: #E5DCC5;
}

.svg-black-keys * {
    fill: #4C4C47;
}

.svg-white-keys *:hover {
    filter: brightness(50%);
}

.svg-black-keys *:hover {
    filter: brightness(150%);
}

#root-selection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
}

#black-keys {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#white-keys {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

#chord-selection {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0.25rem;
    padding: 0.25rem;
}