<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToneMap</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/main.js" defer></script>
</head>
<body>
    <div class="header">
        <a href="" class="logo">ToneMap</a>
        <div class="header-right">
          <a href="/">Home</a>
          
          <a class="active" href="/about">About</a>
        </div>
    </div>
    <main>
        <h1>What is this?</h1>
        <p><strong>ToneMap is your personal guide to learning piano chords!</strong> It was designed with a philosphy of "we all benefit when knowledge is easier to access."</p>
        <p>It is distributed free of charge as Open Source software! Free forever, for real. The source code can be found on github along with a copy of the <a>apache license</a></p>

    </main>

    <footer id="footer">Future Throwback 2000&COPY;</footer>
</body>
</html>