<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToneMap</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/main.js" defer></script>
</head>
<body>
    <main>

        <div class="graphic">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <!-- Created with Inkscape (http://www.inkscape.org/) -->

            <svg
                width="700"
                height="350"
                overflow="visible"
                viewBox="0 0 700 350"
                version="1.1"
                id="svg1"
                inkscape:version="1.3 (0e150ed6c4, 2023-07-21)"
                sodipodi:docname="single-octave-piano.svg"
                xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:svg="http://www.w3.org/2000/svg">
                <defs
                    id="defs1">
                    <linearGradient
                        id="swatch6">
                    <stop
                        style="stop-color:#000000;stop-opacity:1;"
                        offset="0"
                        id="stop6" />
                    </linearGradient>
                </defs>
                <g
                    class="svg-white-keys"
                    inkscape:label="White Keys"
                    inkscape:groupmode="layer"
                    id="layer1"
                    style="display:inline;fill:#FFFFFF">
                    <rect
                        style="display:inline;fill:#FFFFFF;fill-opacity:1;stroke:#000000;stroke-width:0.703905;stroke-opacity:1"
                        id="C"
                        width="99.296097"
                        height="349.29608"
                        x="0.3519524"
                        y="0.35195231" />
                    <rect
                        style="display:inline;fill:#FFFFFF;fill-opacity:1;stroke:#000000;stroke-width:0.703905;stroke-opacity:1"
                        id="D"
                        width="99.296097"
                        height="349.29608"
                        x="100.35195"
                        y="0.35195231" />
                    <rect
                        style="display:inline;fill:#FFFFFF;fill-opacity:1;stroke:#000000;stroke-width:0.703905;stroke-opacity:1"
                        id="E"
                        width="99.296097"
                        height="349.29608"
                        x="200.35196"
                        y="0.35195231" />
                    <rect
                        style="display:inline;fill:#FFFFFF;fill-opacity:1;stroke:#000000;stroke-width:0.703905;stroke-opacity:1"
                        id="F"
                        width="99.296097"
                        height="349.29608"
                        x="300.35193"
                        y="0.35195231" />
                    <rect
                        style="display:inline;fill:#FFFFFF;fill-opacity:1;stroke:#000000;stroke-width:0.703905;stroke-opacity:1"
                        id="G"
                        width="99.296097"
                        height="349.29608"
                        x="400.35193"
                        y="0.35195231" />
                    <rect
                        style="display:inline;fill:#FFFFFF;fill-opacity:1;stroke:#000000;stroke-width:0.703905;stroke-opacity:1"
                        id="A"
                        width="99.296097"
                        height="349.29608"
                        x="500.35193"
                        y="0.35195231" />
                    <rect
                        style="display:inline;fill:#FFFFFF;fill-opacity:1;stroke:#000000;stroke-width:0.703905;stroke-opacity:1"
                        id="B"
                        width="99.296097"
                        height="349.29608"
                        x="600.35193"
                        y="0.35195231" />
                </g>
                <g
                    class="svg-black-keys"
                    inkscape:groupmode="layer"
                    id="layer3"
                    inkscape:label="Black Keys">
                    <rect
                        style="fill:#2D2D2A ;fill-opacity:1;stroke:#000000;stroke-width:0.670113;stroke-opacity:1"
                        id="Csharp"
                        width="74.329887"
                        height="209.33037"
                        x="62.835056"
                        y="0.33505628" />
                    <rect
                        style="fill:#2D2D2A ;fill-opacity:1;stroke:#000000;stroke-width:0.670113;stroke-opacity:1"
                        id="Dsharp"
                        width="74.329887"
                        height="209.33037"
                        x="162.83508"
                        y="0.33505628" />
                    <rect
                        style="fill:#2D2D2A ;fill-opacity:1;stroke:#000000;stroke-width:0.670105;stroke-opacity:1"
                        id="Fsharp"
                        width="74.329895"
                        height="209.3299"
                        x="362.83508"
                        y="0.33505273" />
                    <rect
                        style="fill:#2D2D2A ;fill-opacity:1;stroke:#000000;stroke-width:0.670113;stroke-opacity:1"
                        id="Gsharp"
                        width="74.329887"
                        height="209.33037"
                        x="462.83508"
                        y="0.33505628" />
                    <rect
                        style="fill:#2D2D2A ;fill-opacity:1;stroke:#000000;stroke-width:0.670113;stroke-opacity:1"
                        id="Asharp"
                        width="74.329887"
                        height="209.33037"
                        x="562.83508"
                        y="0.33505628" />
                </g>
            </svg>
        </div>


        <div id="controls">
            <div id="root-selection">

                <div class="black-keys">

                    <input type="button" id="Csharp" name="rootnote" value="C#">
                    <input type="button" id="Dsharp" name="rootnote" value="D#">
                    <input type="button" id="Fsharp" name="rootnote" value="F#">
                    <input type="button" id="Gsharp" name="rootnote" value="G#">
                    <input type="button" id="Asharp" name="rootnote" value="A#">

                </div>

                <div class="white-keys">

                    <input type="button" id="C" name="rootnote" value="C">
                    <input type="button" id="D" name="rootnote" value="D">
                    <input type="button" id="E" name="rootnote" value="E">
                    <input type="button" id="F" name="rootnote" value="F">
                    <input type="button" id="G" name="rootnote" value="G">
                    <input type="button" id="A" name="rootnote" value="A">
                    <input type="button" id="B" name="rootnote" value="B">

                </div>   

            </div>


            <div id="chord-selection">

                <input type="button" id="major" name="chord" value="Maj">
                <input type="button" id="minor" name="chord" value="min">
                <input type="button" id="dom7" name="chord" value="7">
                <input type="button" id="min7" name="chord" value="min7">
                <input type="button" id="maj7" name="chord" value="Maj7">
                <input type="button" id="minMaj7" name="chord" value="minMaj7">
                <input type="button" id="maj6" name="chord" value="Maj6">
                <input type="button" id="min6" name="chord" value="min6">
                <input type="button" id="sixthNinth" name="chord" value="6/9">
                <input type="button" id="fifth" name="chord" value="5">
                <input type="button" id="ninth" name="chord" value="9">
                <input type="button" id="min9" name="chord" value="min9">
                <input type="button" id="maj9" name="chord" value="Maj9">
                <input type="button" id="eleventh" name="chord" value="11">
                <input type="button" id="min11" name="chord" value="min11">
                <input type="button" id="maj11" name="chord" value="Maj11">
                <input type="button" id="thirteenth" name="chord" value="13">
                <input type="button" id="min13" name="chord" value="min13">
                <input type="button" id="maj13" name="chord" value="Maj13">
                <input type="button" id="add9" name="chord" value="add9">
                <input type="button" id="add2" name="chord" value="add2">
                <input type="button" id="sevenMinusFive" name="chord" value="7-5">
                <input type="button" id="sevenPlusFive" name="chord" value="7+5">
                <input type="button" id="sus4" name="chord" value="sus4">
                <input type="button" id="sus2" name="chord" value="sus2">
                <input type="button" id="diminished" name="chord" value="diminished">
                <input type="button" id="dim7" name="chord" value="dim7">
                <input type="button" id="min7b5" name="chord" value="min7b5">
                <input type="button" id="aug" name="chord" value="aug">
                <input type="button" id="aug7" name="chord" value="aug7">

            </div>


        </div>


    </main>


</body>
</html>