<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>

        <img src="/images/single-octave-piano.svg">

        <div id="root-selection">
            <div id="keyboard">
                <div class="black-keys">

                    <button>C#</button>
                    <button>D#</button>
                    <button>F#</button>
                    <button>G#</button>
                    <button>A#</button>

                </div>
                <div class="white-keys">

                    <button>C</button>
                    <button>D</button>
                    <button>E</button>
                    <button>F</button>
                    <button>G</button>
                    <button>A</button>
                    <button>B</button>

                </div>   

            </div>
            <div id="chord-selection">

                <button>Major</button>
                <button>Minor</button>

            </div>
        </div>
    </main>
</body>
</html>